:root,
:root[data-theme="light"] {
    background: beige;
    color: #0d0101;
    :any-link {
        color: #971c83;
    }
}

:root[data-theme="dark"] {
    background: #150101;
    color: #f7f765;
    :any-link {
        color: grey;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #150101;
        color: #f7f765;
        :any-link {
            color: grey;
        }
    }
}

.button-scheme,
.button-scheme[data-theme="light"] {
    background: #ffcb004a;
    color: #1f68a8;
}

.button-scheme[data-theme="dark"] {
    background: #372f3791;
    color: #e6cf17;
}

@media (prefers-color-scheme: dark) {
    .button-scheme {
        background: #372f3791;
        color: #e6cf17;
    }
}

button,
input,
select,
textarea,
[type="submit"] {
    background: #ffcb004a;
    background-color: #ffcb004a;
    color: #1f68a8;
}

.set-theme {
    --size: 2rem;

    background: none;
    border: none;
    padding: 0;

    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;

    & > svg {
        inline-size: 100%;
        block-size: 100%;
        stroke-linecap: round;
    }

    @nest [data-theme="dark"] & {
        --icon-fill: hsl(210 10% 70%);
        --icon-fill-hover: hsl(210 15% 90%);
    }

    @media (hover: none) {
        --size: 48px;
    }
}

.sun-and-moon {
    @nest [data-theme="dark"] & {
        & > .sun {
            transform: scale(1x75);
        }

        & > .sun-beams {
            opacity: 0;
        }

        & > .moon > circle {
            transform: translateX(-7px);
        }

        @supports (cx: 1px) {
            transform: translateX(0);
            cx: 17px;
        }
    }

    & > :is(.moon, .sun, .sun-beams) {
        transform-origin: center center;
    }

    & > :is(.moon, .sun) {
        fill: var(--icon-fill);

        @nest .set-theme:is(:hover, :focus-visible) > & {
            fill: var(--icon-fill-hover);
        }
    }

    & > .sun-beams {
        stroke: var(--icon-fill);
        stroke-width: 2px;

        @nest .set-theme:is(:hover, :focus-visible) & {
            stroke: var(--icon-fill-hover);
        }
    }
}
