:root {
    background: beige;
    color: #0d0101;
    :any-link {
        color: #971c83;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        background: #150101;
        color: #f7f765;
        :any-link {
            color: grey;
        }
    }
}

.color-scheme {
    background: beige;
    color: #0d0101;
    :any-link {
        color: #971c83;
    }
}
@media (prefers-color-scheme: dark) {
    .color-scheme.hackerman {
        background: #150101;
        color: #f7f765;
        :any-link {
            color: grey;
        }
    }
}

.button-scheme {
    background: #ffcb004a;
    color: #1f68a8;
}
@media (prefers-color-scheme: dark) {
    .button-scheme {
        background: #372f3791;
        color: #e6cf17;
    }
}
