<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/pico.min.css" rel="stylesheet" />
  <title>HELLO</title>
</head>

<body>
    <main class="container">
    <div>
        <a href="login">
<button>Login</button>
        </a>
    </div>
<br>
  Posts
  <div>
    {{range .}}
    Date: {{.ParsedDate.Format "2006/01/02"}}
    <br>
    Title: {{.Title}}
    <br>
    Link: <a href="{{.Link}}" target="_blank">{{.Link}}</a>
    <br>
    Content: {{.Content}}
    <br>
    <a href="/post/{{.ID}}">View post</a>
    <br>
    ---
   <br>
    {{end}}
  </div>
  <br>
  Create new post
  <form action="/post" method="POST" novalidate>
    <div>
      <label for="Title">Title</label>
      <input type="text" name="title" required placeholder="enter title"/>
    </div>
    <div>
      <label for="Date">Date</label>
      <input type="date" name="date" required />
    </div>
    <div>
      <label for="Link">Link</label>
      <input type="text" name="link" required placeholder="enter link"/>
    </div>
    <div>
      <label for="Content">Content</label>
      <input type="text" name="content" required placeholder="enter content"/>
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
    </main>
</body>

</html>
