<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/pico.min.css" rel="stylesheet" />
  <title>HELLO</title>
</head>

<body>
  Posts
  <div>
    <br>
    {{range .}}
    {{.ID}}
    <br>
    {{.Date}}
    <br>
    {{.Title}}
    <br>
    {{.Link}}
    <br>
    {{.Content}}
    <br>
    <a href="/post/{{.ID}}">
    Post link </a>  
    <br>
    ---
   <br>
    {{end}}
  </div>
  <br>
  <form action="/api/v0/post" method="POST" novalidate>
    <div>
      <label for="Title">Title</label>
      <input type="text" name="title" required />
    </div>
    <div>
      <label for="Date">Date</label>
      <input type="date" required />
    </div>
    <div>
      <label for="Link">Link</label>
      <input type="text" required />
    </div>
    <div>
      <label for="Content">Content</label>
      <input type="text" name="content" required />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>

</html>