<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/set_theme.js"></script>
  <link href="../static/pico.min.css" rel="stylesheet" />
    <link href="../static/custom.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <link rel="manifest" href="../static/site.webmanifest">
  <title>시청 Si-cheong index</title>
</head>

<body>
    <main class="container">
    <div>
        {{if .Auth}}
        <a href="logout">
            <button>{{.AuthorName}} log out</button>
        </a>
        {{else}}
        <a href="login">
<button class="button-scheme" title="Navigate to login" aria-label="auto">Login</button>
        </a>
        {{end}}
    </div>
<br>
  <div>
    {{range .Posts.Posts}}
    {{.ParsedDate.Format "2006/01/02"}}
    <br>
    {{.Title}}
    <br>
    <a href="{{.Link}}" target="_blank">{{.Link}}</a>
    <br>
    {{.Content}}
    <br>
    <a href="/post/{{.ID}}">View post</a>
    <br>
    ---
   <br>
    {{end}}
  </div>
  {{if .Auth}}
  <br>
  Create new post
  <form action="/post" method="POST" novalidate>
    <div>
      <input type="text" name="title" required aria-required="true" placeholder="enter title" aria-label="Fill in title"/>
    </div>
    <div>
      <input type="date" name="date" required aria-required="true" value="{{.Today.Format "2006-01-02"}}" />
    </div>
    <div>
      <input type="text" name="link" required aria-required="true" placeholder="enter link"/>
    </div>
    <div>
      <input type="text" name="content" required aria-required="true" placeholder="enter content"/>
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
  {{end}}
    <button class="set-theme" id="set-theme" title="Set dark & light theme" aria-label="auto" aria-live="polite">
        <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
            <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
            <g class="sun-beams" stroke="currentColor">
                <line x1="12" y1="1" x2="12" y2="3" />
                <line x1="12" y1="21" x2="12" y2="23" />
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                <line x1="1" y1="12" x2="3" y2="12" />
                <line x1="21" y1="12" x2="23" y2="12" />
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
            </g>

            <mask class="moon" id="moon-mask">
                <rect x="0" y="0" width="100%" height="100%" fill="white" />
                <circle cx="24" cy="10" r="6" fill="black" />
            </mask>
        </svg>
    </button>
    </main>
</body>

</html>
