<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/pico.min.css" rel="stylesheet" />
  <link href="../static/custom.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <link rel="manifest" href="../static/site.webmanifest">
  <title>Login</title>
</head>

<body>
 <main class="container">
     <div class="color-scheme">
     <div class="color-scheme hackerman">
    <form action="/login" method="POST" novalidate>
    <fieldset class="grid">
<div>
    <input type="text" name="author" required placeholder="author name"/>
    <input type="password" name="password" required placeholder="password" />
</div>

<div>
    <input type="submit" value="Submit" />
</div>
    </fieldset>
    </form>

  <div>
      <a href="/">
       <button class="button-scheme">Back to index</button>
      </a>
  </div>
     </div>
     </div>
  </main>

</body>
</html>
