<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/pico.min.css" rel="stylesheet" />
  <title>Login</title>
</head>

<body>
  Login
  <br>
  <form action="/api/v0/login" method="POST" novalidate>
    <div>
      <label for="Author">Author</label>
      <input type="text" name="author" required />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>

</html>
