<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/pico.min.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/site.webmanifest">
  <title>Post</title>
</head>

<body>
  <div>
    {{.ID}}
    <br>
    {{.ParsedDate.Format "2006/01/02"}}
    <br>
    {{.Title}}
    <br>
    {{.Link}}
    <br>
    {{.Content}}
    <br>
    {{.AuthorID}}
    <br>
  </div>
    <form action="/post/delete/{{.ID}}" method="POST" novalidate>
      <input type="submit" value="Delete" />
  </form>
  <br>
  <div>
    Edit post to
  </div>
  <form action="/post/{{.ID}}" method="POST" novalidate>
    <div>
      <label for="Title">Title</label>
      <input type="text" name="title" required />
    </div>
    <div>
      <label for="Date">Date</label>
      <input type="date" name="date" required />
    </div>
    <div>
      <label for="Link">Link</label>
      <input type="text" name="link" required />
    </div>
    <div>
      <label for="Content">Content</label>
      <input type="text" name="content" required />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>

</html>
