<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/pico.min.css" rel="stylesheet" />
  <title>Post</title>
</head>

<body>
    <main class="container">
  <div>
   {{.ParsedDate.Format "2006/01/02"}}
    <br>
    {{.Title}}
    <br>
    <a href="{{.Link}}" target="_blank" >{{.Link}}</a>
    <br>
    {{.Content}}
    <br>
    {{.AuthorID}}
    <br>
  </div>
    <form action="/post/delete/{{.ID}}" method="POST" novalidate>
      <input type="submit" value="Delete" />
  </form>
  <form action="/post/{{.ID}}" method="POST" novalidate>
    <div>
      <!-- <label for="Title">Title</label> -->
      <input type="text" name="title" required value="{{.Title}}"/>
    </div>
    <div>
      <!-- <label for="Date">Date</label> -->
      <input type="date" name="date" required value="{{.Today.Format "2006/01/02"}}"/>
    </div>
    <div>
      <!-- <label for="Link">Link</label> -->
      <input type="text" name="link" required value="{{.Link}}"/>
    </div>
    <div>
      <!-- <label for="Content">Content</label> -->
      <input type="text" name="content" required value="{{.Content}}"/>
    </div>
    <div>
      <input type="submit" value="Edit" />
    </div>
  </form>
  <div>
      <a href="/">
      <button>Back to index</button>
      </a>
  </div>
    </main>
</body>

</html>
