<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/pico.min.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <link rel="manifest" href="../static/site.webmanifest">
  <title>Post</title>
</head>

<body>
    <main class="container">
  <div>
   {{.Post.ParsedDate.Format "2006/01/02"}}
    <br>
    {{.Post.Title}}
    <br>
    <a href="{{.Post.Link}}" target="_blank" >{{.Post.Link}}</a>
    <br>
    {{.Post.Content}}
    <br>
    {{.AuthorName}}
    <br>
  </div>
  {{if .Auth}}
    <form action="/post/delete/{{.ID}}" method="POST" novalidate>
      <input type="submit" value="Delete" />
  </form>
  <form action="/post/{{.ID}}" method="POST" novalidate>
    <div>
      <input type="text" name="title" required value="{{.Post.Title}}"/>
    </div>
    <div>
      <input type="date" name="date" required value="{{.Today.Format "2006-01-02"}}"/>
    </div>
    <div>
      <input type="text" name="link" required value="{{.Post.Link}}"/>
    </div>
    <div>
      <input type="text" name="content" required value="{{.Post.Content}}"/>
    </div>
    <div>
      <input type="submit" value="Edit" />
    </div>
  </form>
  {{end}}
  <div>
      <a href="/">
      <button>Back to index</button>
      </a>
  </div>
    </main>
</body>

</html>
